target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
!mvnw
!mvnw.cmd
!.mvn/wrapper/maven-wrapper.jar

.idea/
*.iws
*.iml
*.ipr
.vscode/
*.sw?
.DS_Store

*.log
logs/

application*.properties
!application*.properties.example
application*.yml
!application*.yml.example
application*.yaml
!application*.yaml.example

/test-results/
/.gradle/
/out/
/bin/

~$*
*.bak
*.tmp
.env

.dockerignore
Dockerfile
!docker-compose/docker-compose.yml

/.springcloud/